{% extends "./plantilla.html" %}
{% block body %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Login {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <form action="/login/" class="box">
        <h1>Login</h1>
        <input type="text" name="" placeholder="Usuario">
        <input type="password" name="" placeholder="Contraseña">
        <input type="submit" name="" value="Ingresar"> 
</body>
{% endblock %}
